{% extends "base.html" %}
{% load static %}


{% block app_name %}dictionary{% endblock app_name %}
{% block ptitle %}Starr - Dictionary {% endblock ptitle %}

{% block content %}
	<div class="content">
		<div class="row star-dict-outer">
			<div class="star-dict star-dict-panel col-3 rounded p-0">
				<div class="star-dict-panel-header col-12 p-0">
					<div class="text-white p-1 px-3 rounded-top col-12 bg-primary">History</div>
				</div>
				<div class="star-dict-panel-body py-2">
					<div class="col-12 star-dict-history">
						<ul class="list">
							{% for var in history %}
								<li><a class="text-primary suggested font-weight-bold" onclick="findSuggested('{{ var }}')" class="font-italic">{{ var }}</a></li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			<div class="col-6">
				<div class="row">
					<div class="star-dict col-12 bg-white p-3 rounded">
						<div class="sta-body">
							<form class="star-form mb-2" id="dict_form">
								{% csrf_token %}
								<div class="form-group ">
									{{ form.word }}
									<div class=" text-right pt-1">					
										<input type="submit" name="Search" class="btn btn-primary btn-sm">
										<a onclick="resetDict()" class="text-white btn btn-info btn-sm ml-1">Clear</a>
									</div>
								</div>
							</form><hr>
							<div class="dict-result">
								<div id="result">
									<p>So write a lot of code, and make sure you’re getting code reviews from quality programmers.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{% include 'includes/messages.html' %}
{% endblock content %}

{% block lower_static %}
	<script type="text/javascript" src="{% static 'js/dictionary.js' %}"></script>
{% endblock lower_static %}