<div id="delete_comment" class="modal fade " role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header text-left">
        <h5 class="modal-title">Deleting a comment</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body text-center">
        <div id="delete_message"></div>
      </div>
      <div class="modal-footer">
        <a class="btn btn-danger btn-sm text-white" onclick="confirmDeleteComment()">Delete</a>
        <a class="btn btn-primary btn-sm text-white" data-dismiss="modal">Cancel</a>
      </div>
    </div>
  </div>
</div>