<div id="edit_comment" class="modal fade " role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header text-left">
        <h5 class="modal-title">Editing a comment</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body text-center">
        <form id="comment_edit_form">
          <textarea id="id_comment_edit" name="comment_edit" class="form-control"></textarea>
          <input type="hidden" name="comment_id" id="id_comment_edit_id">
          <input type="hidden" name="verse_ref_edit" id="id_current_verse_edit_key">
          <input type="submit" name="Submit" value="Submit" class="btn btn-xs btn-primary float-right">
        </form>
      </div>
    </div>
  </div>
</div>