{% extends "base.html" %}
{% load static %}

{% block app_name %}journey{% endblock app_name %}
{% block ptitle %}Starr - Journey {% endblock ptitle %}

{% block content %}
	<div class="content">
		<div class="row star-journey-outer">
			<div class="star-journey star-journey-messages col-6 offset-3 rounded p-0">
				{% include 'includes/messages.html' %}
			</div>
			<div class="star-journey col-6 offset-3 bg-white p-3 rounded">
				<div class="sta-head">
					<p class="mb-4 px-1">
						Hey {{ request.user }}! How are you doing today?
					</p>
				</div>
				<div class="sta-body">
					<form class="star-form mb-5" id="story_form" method="POST" action="{% url 'journey:home' %}">
						{% csrf_token %}
						{# {{ form.user }} #}
						<div class="form-group">
							{{ form.story }}
						</div>
						<div class="form-group row">
							<div class="star-journey-sucess col-10"></div>
							<div class="col-2">					
								<input type="submit" name="Submit" class="btn btn-primary btn-sm">
							</div>
						</div>
					</form>
					
					<div class="journey-story-head">
						<h5 class="h5">Stories.</h5>
					</div><hr>
					<div class="journey-stories">
						{% for object in objects %}
							{% include 'includes/story.html' %}
						{% empty %}
							<div class="journey-story">
								<p>Remember, you haven't told me any stories yet.</p>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>

	{% include 'includes/edit_story.html' %}
	{% include 'includes/delete_story.html' %}
{% endblock content %}

{% block lower_static %}
	<script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
{% endblock lower_static %}