.star-journey-outer{
	padding: 0px 80px;
}
.star-journey{
}
.sta-head p{
	font-weight: 400 !important;
	font-size: 15px;
}
textarea{
	border: 1px solid #999;
	border-radius: 1px !important;
	resize: none !important;
	height: 100px;
	box-shadow: 1px 1px #417690;
	font-size: 13px;
}
.sta-body p{
	font-size: 13px;
}
.journey-story cite{
	font-size: 12px;
}
.journey-story .btn-link{
	font-size: 12px;
}
.alert{
	font-size: 13px;
}
::-webkit-scrollbar-thumb{
	background-color: #999;
}
::-webkit-scrollbar-thumb:hover{
	background-color: #000;
	cursor: pointer !important;
}
::-webkit-scrollbar-track{
	background-color: #efefef;
	border-radius: 2px;
}
::-webkit-scrollbar{
	width: 5px;
}

.btn-xs{
  padding: 0.27rem 0.05rem !important;
  font-size: 13px !important;
}